@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F5DDE0;
  }